body {
  margin: 0px;
  padding: 0px;
  background-color: #f6f9fc;
}

.slick-slide {
  margin-left: 1px;
  
}

.slick-list {
  height: 100%;
}

.slick-track-banner {
  position: relative;
  top: 0;
  left: 0;

  height: 400px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track-flasddeals {
  position: relative;
  top: 0;
  left: 0;

  height: 402px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track-categories {
  position: relative;
  top: 0;
  left: 0;

  height: 154px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track-bigdiscount {
  position: relative;
  top: 0;
  left: 0;

  height: 251.325px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}